* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif !important;

}

body {
    height: 100vh;
}

header {
    height: 5rem;

}



.block-left {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 2rem !important;
    font-weight: bold !important;
}

.block-right {
    display: flex;
    align-items: center;
    gap: .5rem
}

select {
    width: 25%;
    border-radius: 7px;
}

button {
    width: 15%;
    border-radius: 7px !important;
}


img {
    width: 10%;
    min-width: 40px;
}


main {
    height: calc(100% - 9rem);
    background-color: #7fffd4;
}


.grid {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 500px;
    height: 500px;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    
}

footer {
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 1rem;
}

.active1 {
    background-color:cornflowerblue;
}


.mine {
    background-color: brown;
}

.no-mine {
    background-color:aqua;
}

.hidden {
    display: none;
}

.row > div {
    padding-left: 0 !important;
}

.result {
    margin: auto;
    width: 40% !important;
    margin-top: 3rem;
    font-size: 1rem;
    text-align: center;
    background-color: aqua;
    border-radius: 20px;
    padding: .7rem;
}

h2 {
    justify-content: center;
    align-items: center;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}